<!doctype html>
<html lang="en" dir="rtl" data-dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="">
		<meta name="keyword" content="">
		<meta name="author" content="">
		<meta name="robots" content="index, follow">

		<meta name="geo.position" content="">
		<meta name="geo.placename" content="">
		<meta name="geo.region" content="">

		<meta property="og:type" content=""/>
		<meta property="og:title" content=""/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>

		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:site" content="">
		<meta name="twitter:creator" content="">

		<link rel="canonical" href=""/>

		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="assets/css/toastr.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="assets/css/custom.css">

		<link rel="shortcut icon" href="assets/img/icon.svg" type="image/x-icon" >
		<title>Lenobi </title>
	</head>
	<body>
        <!-- navbar-main -->
        <nav class="navbar navbar-main navbar-expand-sm">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <div class="logo">
                        <img src="assets/img/logo.svg" alt="logo">
                    </div>
                </a>

                <div class="action d-flex align-items-center">
                    <a href="../auth/login.blade.php" class="btn btn-user mr-md-4 mr-3">
                        <img src="assets/img/user.svg" class="mr-3" alt="">
                        <span>כניסה לחשבון</span>
                    </a>

                    <div class="dropdown user-dropdown d-none">
                        <a href="#!" class="dropdown-toggle mr-md-4 mr-3" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-pic">
                                <img src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="user-pic">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"></a>
                        </div>
                    </div>
                    <a href="#!" class="btn-lang" title="en language"> En</a>
                </div>
            </div>
        </nav>
        <!-- End navbar-main -->
        <section class="py-5">
            <div class="container">

                <div class="nav nav-wizard">
                    <li class="nav-item">
                        <a href="form-wizard-2-1.html" class="nav-link first">
                            <div class="nav-wizard-box"> תיאור העסק </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-2.html" class="nav-link">
                            <div class="nav-wizard-box">פרטי בעלות</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-3.html" class="nav-link">
                            <div class="nav-wizard-box">הסטוריית אשראי</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-4.html" class="nav-link">
                            <div class="nav-wizard-box">עסקים נוספים</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-5.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >קורות חיים</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-6.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >הרכב השקעה</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-7.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >לקוחות</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-8.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >ספקים</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-9.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >נתונים כספיים</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-10.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >אובליגו בנקאי</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-11.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >הוצאות הנהלה</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-12.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >אשראי מבוקש</div>
                        </a>
                    </li>
                </div>

                <div class="form-contetnt pt-lg-5 mt-lg-5" data-aos="fade-up">
                    <div class="form-wizard">
                        <form action="form-wizard-2-13.html" method="post" class="needs-validation" novalidate>
                            <div class="row justify-content-center">
                                <div class="col-xl-8">
                                    <div class="form-group form-question text-center mb-5">
                                        <h1 class="wizard-title">האשראי המבוקש ופירוט השימוש</h1>
                                        <h2 class="wizard-info">צרכי אשראי והרכב השקעה</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-around">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label >שנה</label>
                                        <input type="text" class="form-control" name="" required>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label >חודש מילוי טופס</label>
                                        <input type="text" class="form-control" name="" required>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label >הלוואה מבוקשת</label>
                                        <input type="text" class="form-control" name="" disabled>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label >תקופת פריסה</label>
                                        <input type="text" class="form-control w-50" name="" required>
                                        <small id="helpId" class="text-muted">בד”כ בהלוואות שלא לבניה הפריסה המקסימלית היא 60 חודשים</small>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label >חודש מילוי טופס</label>
                                        <input type="text" class="form-control w-50" name="" required>
                                        <small id="helpId" class="text-muted">בד”כ אין תקופת גרייס - במקרים כמו עסק בהקמה או השקעה שדורשת חודשים לביצוע, ניתן לבקש עד 6 חודשים - לשיקול דעת הבנק</small>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label >מסגרת עו”ש</label>
                                        <input type="text" class="form-control w-50" name="" required>
                                        <small id="helpId" class="text-muted">אם רוב הכנסות העסק הם במזומן או בכ”א אז בנקים נוטים לא לאשר מסגרת עו”ש. אם רוב הכנסות העסק היא בשיקים דחויים, אזי הבנקים נוטים לאשר מסגרת עו”ש שלא תעלה על המחזור החודשי הצפוי של העסק - לשיקול דעת הבנק</small>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label >מסגרת ניכיון</label>
                                        <input type="text" class="form-control w-50" name="" required>
                                        <small id="helpId" class="text-muted">ניתן לבקש עד: סכום השיקים החודשי עליו אתה מבצע ניכיון כפול תקופת האשראי שאתה נותן ללקוחות. לשיקול דעת הבנק. לדוגמה אם לדעתך תצטרך כל חודש לנכות שיקים בסך 50 א’ ₪ דחויים לתקופה ש + 60 - אזי סביר לבקש מסגרת ניכיון בסך 125 א’ ₪. (הכפלנו 50 א’ כפול 2.5 - בהנחה שהשוטף הוא חצי חודש).</small>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label >מסגרת כ”א</label>
                                        <input type="text" class="form-control w-50" name="" required>
                                        <small id="helpId" class="text-muted">לשיקול דעת הבנק</small>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-xl-8">
                                    <div class="form-group form-question text-center mb-5">
                                        <h2 class="wizard-info">בטחונות מוצעים</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label >רכב</label>
                                        <input type="text" class="form-control" name="" required>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label >פיקדון</label>
                                        <input type="text" class="form-control" name="" required>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label >אחר</label>
                                        <input type="text" class="form-control" name="" required>
                                        <small id="helpId" class="text-muted">בנקים ישמחו לראות בטחון כספי החל מ- 20% ומעלה מגובה האשראי הדרוש - או שיעבוד רכוש כגון רכבים, ציוד כבד, נכס נדלני ועוד.</small>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="form-group ">
                                        <label >אחר</label>
                                        <div class="form-input-add-remove d-flex">
                                            <input type="text" class="form-control" id="value_1" name="" required>
                                            <div class="btns ml-3">
                                                <div class="btn-add mt-2">
                                                    <i class="fas fa-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback"> Validation message </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="d-flex justify-content-center">
                                        <a href="form-wizard-2-11.html" class="btn btn-secondary mr-4">הקודם</a>
                                        <button type="submit" class="btn btn-secondary">הבא</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- script -->
		<script src="assets/js/jquery-3.1.0.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="assets/js/bootstrap-datepicker.min.js"></script>
		<script src="assets/js/bootstrap-select.min.js"></script>
		<script src="assets/js/bootstrap-tagsinput.min.js"></script>
		<script src="assets/js/sweetalert2.js"></script>
		<script src="assets/js/toastr.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="assets/js/custom.js"></script>

        <script>
            var i = 1;
            $(".btn-add").on("click", function(){
                var htmlDiv = '\
                    <div class="col-lg-3 col-md-6 col-sm-6" id="formBoxId_'+ i +'">\
                        <div class="form-group ">\
                            <label >אחר</label>\
                            <div class="form-input-add-remove d-flex">\
                                <input type="text" class="form-control" value="" name="" required>\
                                <div class="btns ml-3">\
                                    <div class="btn-remove mt-2" onclick="remove_form_box('+ i +')">\
                                        <i class="fas fa-minus"></i>\
                                    </div>\
                                </div>\
                            </div>\
                            <div class="invalid-feedback"> Validation message </div> \
                        </div>\
                    </div>';
                $(this).parent().parent().parent().parent().before(htmlDiv);
                i++;
            });

            function remove_form_box(i){
                $("#formBoxId_" + i).remove();
            }
        </script>
	</body>
</html>
