<!doctype html>
<html lang="en" dir="rtl" data-dir="rtl">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="">
		<meta name="keyword" content="">
		<meta name="author" content="">
		<meta name="robots" content="index, follow">

		<meta name="geo.position" content="">
		<meta name="geo.placename" content="">
		<meta name="geo.region" content="">

		<meta property="og:type" content=""/>
		<meta property="og:title" content=""/>
		<meta property="og:description" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>

		<meta name="twitter:title" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:site" content="">
		<meta name="twitter:creator" content="">

		<link rel="canonical" href=""/>

		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="assets/css/toastr.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="assets/css/custom.css">

		<link rel="shortcut icon" href="assets/img/icon.svg" type="image/x-icon" >
		<title>Lenobi </title>
	</head>
	<body>
        <!-- navbar-main -->
        <nav class="navbar navbar-main navbar-expand-sm">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <div class="logo">
                        <img src="assets/img/logo.svg" alt="logo">
                    </div>
                </a>

                <div class="action d-flex align-items-center">
                    <a href="../auth/login.blade.php" class="btn btn-user mr-md-4 mr-3">
                        <img src="assets/img/user.svg" class="mr-3" alt="">
                        <span>כניסה לחשבון</span>
                    </a>

                    <div class="dropdown user-dropdown d-none">
                        <a href="#!" class="dropdown-toggle mr-md-4 mr-3" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-pic">
                                <img src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="user-pic">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#"></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"></a>
                        </div>
                    </div>
                    <a href="#!" class="btn-lang" title="en language"> En</a>
                </div>
            </div>
        </nav>
        <!-- End navbar-main -->
        <section class="py-5">
            <div class="container">

                <div class="nav nav-wizard">
                    <li class="nav-item">
                        <a href="form-wizard-2-1.html" class="nav-link first">
                            <div class="nav-wizard-box"> תיאור העסק </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-2.html" class="nav-link">
                            <div class="nav-wizard-box">פרטי בעלות</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-3.html" class="nav-link">
                            <div class="nav-wizard-box">הסטוריית אשראי</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-4.html" class="nav-link">
                            <div class="nav-wizard-box">עסקים נוספים</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="form-wizard-2-5.html" class="nav-link">
                            <div class="nav-wizard-box px-2" >קורות חיים</div>
                        </a>
                    </li>
                </div>

                <div class="form-contetnt pt-lg-5 mt-lg-5" data-aos="fade-up">
                    <div class="form-wizard">
                        <form action="form-wizard-2-6.html" method="post" class="needs-validation" novalidate>
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="form-group form-question text-center mb-5">
                                        <h1 class="wizard-title">קורות חיים ופעילות עסקית</h1>
                                        <p class="wizard-details">תיאור פעילות העסק</p>
                                    </div>
                                    <div class="form-group">
                                        <h3 class="wizard-info justify-content-between">
											<span>קורות חיים של הבעלים, ותיאור פעילות עסקית</span>
											<a href="#modal_1" class="info-icon-box ml-3" data-toggle="modal"><img src="assets/img/info.svg"></a>
										</h3>
                                        <p class="wizard-details">לכתוב את קורות החיים של היזם בקצרה (להדגיש את הניסיון שהיה לו בתחום פעילות העסק / חברה לפני ההקמה).בנוסף לכתוב תיאור קצר על העסק שכולל הסבר על הפעילות העסקית / מיקום העסק / שטח / שכירות חודשית / קהל לקוחות / יתרונות העסק על פני המתחרים.   דוגמה: העסק מתמחה בייבוא מוצרי בית ושיווקם לחנויות.  לתת דוגמאות למוצרים שנמכרים. לציין את סוגי הלקוחות של העסק (לקוחות פרטיים, לקוחות עסקיים, מוסדות ציבור וכן הלאה). לציין יתרונות ומידע חיובי (ראה עצה).</p>
                                        <textarea rows="5" name="" class="form-control" required></textarea>
                                        <div class="invalid-feedback">  Validation message </div>
                                    </div>
                                    <div class="form-group">
                                        <h3 class="wizard-info justify-content-between">
											<span>פירוט צרכי הלוואה</span>
											<a href="#modal_2" class="info-icon-box ml-3" data-toggle="modal"><img src="assets/img/info.svg"></a>
										</h3>
                                        <p class="wizard-details">להסביר למה אתה צריך הלוואה.  להסביר מה אתה הולך לעשות בכספי ההלוואה.</p>
                                        <input type="text" name="" class="form-control" required>
                                        <div class="invalid-feedback">  Validation message </div>
                                    </div>

                                    <div class="form-group">
                                        <h3 class="wizard-info justify-content-between">
											<span> למלא רק במידה והיו בשנה הנוכחית או השנה הקודמת, אירועים חריגים או הוצאות חד פעמיות שהקטינו את הכנסות / רווחי העסק בצורה משמעותית.</span>
											<a href="#modal_1" class="info-icon-box ml-3" data-toggle="modal"><img src="assets/img/info.svg"></a>
										</h3>
                                        <p class="wizard-details">תציין הארועים / הוצאות חריגות, ואח”כ תסביר איך הכנסות ורווחי העסק יחזרו להיות טובים כמו שהיו לפני אותם אירויעם. (אם לא היו ירידות משמעותיות בהכנסות ורווחי העסק בשנתיים האחרונות אין למלות)</p>
                                        <textarea rows="5" name="" class="form-control" required></textarea>
                                        <div class="invalid-feedback">  Validation message </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <a href="form-wizard-2-4.html" class="btn btn-secondary mr-4">הקודם</a>
                                <button type="submit" class="btn btn-secondary">הבא</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="title text-second">טיפ חשוב</h2>
                        <p class="info">לאחר תיאור הפעילות העסקית מומלץ לרשום  את כל המידע החיובי שיש לך להגיד על העסק שלך.  ניתן להיעזר בדוגמאות להלן של מידע חיובי:  1. יתרונות יחסים של העסק על פני המתחרים כגון : מחירים תחרותיים / איכות מוצרים / מיקום אסטרטיגי / שכירות נמוכה / חניה מרווחת / מגוון מוצרים רחב / חווית קניה - וכל דבר אחר שלדעתך מקנה לעסק יתרון על פני המתחרים).
 2. לקוחות קבועים הפוקדים את העסק באופן שוטף.   3. לקוחות העסק איתנים פיננסית.    4.  צמיחה ועליה מוכחת בביקוש.
</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="title text-second">טיפ חשוב</h2>
                        <p class="info">לקבלת הלוואות ארוכות טווח בנקים אוהבים לראות שהכסף ילך להשקעה, במיוחד השקעות שאחרי ביצוען יניבו הכנסה נוספת לעסק, השקעה כגון רכישת ציוד, כלי עבודה, הקמת סניף נוסף, הוספת פעילות חדשה לעסק, שיפוץ, רכישת מבנה וכן הלאה… בנקים לא יתנו הלוואה לטווח ארוך לעסק לצורך רכישת מלאי, או לגשר על פערי תזרים מזומנים. לשם צרכים אלה תוכל לבקש מהבנק הגדלת מסגרת עו”ש, מסגרת ניכיון, הלוואות גישור ואשראי לז”ק.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal_3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="title text-second">טיפ חשוב</h2>
                        <p class="info">אם הרווחים בשנתיים האחרונות היו קטנים מהרגיל גופי המימון אוהבים לראות שזה היה מסיבות חריגות שלא סביר שיחזרו על עצמן. כך לדוגמה אם רווחי החברה נעים בדר”כ סביב 500 אשח לשנה, ובשנה האחרונה ירדו ל 400 א’ שח או שהרווח הנקי של החברה בממוצע עומד על 20% ובשנה האחרונה ירד ל- 15%…. חשוב מאד להסביר למה זה חריג ?</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- script -->
		<script src="assets/js/jquery-3.1.0.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="assets/js/bootstrap-datepicker.min.js"></script>
		<script src="assets/js/bootstrap-select.min.js"></script>
		<script src="assets/js/bootstrap-tagsinput.min.js"></script>
		<script src="assets/js/sweetalert2.js"></script>
		<script src="assets/js/toastr.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="assets/js/custom.js"></script>

	</body>
</html>
