<!doctype html>
<html lang="en" dir="rtl" data-dir="rtl">
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		 
		<meta name="description" content="">
		<meta name="keyword" content="">
		<meta name="author" content="">
		<meta name="robots" content="index, follow">
		
		<meta name="geo.position" content="">
		<meta name="geo.placename" content="">
		<meta name="geo.region" content="">
		
		<meta property="og:type" content=""/> 
		<meta property="og:title" content=""/> 
		<meta property="og:description" content=""/> 
		<meta property="og:image" content=""/> 
		<meta property="og:url" content=""/> 
		<meta property="og:site_name" content=""/>
		
		<meta name="twitter:title" content=""> 
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content=""> 
		<meta name="twitter:site" content=""> 
		<meta name="twitter:creator" content="">
		
		<link rel="canonical" href=""/>

		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="assets/css/toastr.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="assets/css/custom.css">

		<link rel="shortcut icon" href="assets/img/icon.svg" type="image/x-icon" >
		<title>Lenobi </title>
	</head>
	<body>
        <!-- navbar-main -->
        <nav class="navbar navbar-main navbar-expand-sm">
            <div class="container"> 
                <a class="navbar-brand" href="index.html">
                    <div class="logo">
                        <img src="assets/img/logo.svg" alt="logo">
                    </div>
                </a>

                <div class="action d-flex align-items-center"> 
                    <a href="#!" class="btn-lang" title="en language"> En</a>
                </div>
            </div> 
        </nav>
        <!-- End navbar-main -->
        <section class="py-5">
            <div class="container"> 
                <div class="form-contetnt pt-lg-5 mt-lg-5" data-aos="fade-up">
                    <div class="form-wizard">
                        <form action="form-wizard-2-9.html" method="post" class="needs-validation" novalidate>
                            <div class="row justify-content-center">
                                <div class="col-xl-8"> 
                                    <div class="form-group form-question text-center mb-5">
                                        <h1 class="wizard-title">תוצאות הפעילות העסקית</h1>
                                        <h2 class="wizard-sub-title text-dark mb-4">למלות את טבלת נתונים כספיים בגליון המתאים</h2> 
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-xl-9">
                                    <div class="form-inline">
                                        <div class="col-sm-6">
                                            <div class="form-group row d-flex justify-content-center"> 
                                                <div class="col-sm-4">
                                                    <label for="" class="wizard-details mr-3 w-100">סוג עסק</label> 
                                                </div>
                                                <div class="col-sm-8">
                                                    <select class="form-control custom-select w-100" name="" id="">
                                                        <option selected>לבחור מהרשימה</option>
                                                        <option>עוסק מורשה</option>
                                                        <option>שותפות</option>
                                                        <option>חברה</option>
                                                    </select>
                                                </div> 
                                            </div> 
                                        </div> 
                                        <div class="col-sm-6">
                                            <div class="form-group row d-flex justify-content-center">
                                                <div class="col-sm-6">
                                                    <label for="" class="wizard-details mr-3 w-100">שנת מילוי הדוח</label> 
                                                </div>
                                                <div class="col-sm-6">
                                                    <select class="form-control custom-select w-100" name="" id="">
                                                        <option selected>2021</option>
                                                        <option value="">2020</option>
                                                        <option value="">2019</option>
                                                        <option value="">2018</option>
                                                    </select> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                            <div class="row justify-content-center">
                                <div class="col-xl-11">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-custom table-custom-head mb-0">
                                            <tr>
                                                <th>שנה נוכחית</th>
                                                <th>שנה לפני נוכחית</th>
                                                <th>שנה לפני נוכחית</th>
                                            </tr>
                                            <tr>
                                                <th class="p-3"></th>
                                                <th class="p-3"></th>
                                                <th class="p-3"></th>
                                            </tr>
                                        </table>
                                        <table class="table table-bordered table-custom table-custom-body">
                                            <tr>
                                                <th class="index rounded-0">מס’ חודשי פעילות</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td class=" rounded-0"><input type="text" class="form-control border-0"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="space"></td>
                                            </tr>
                                            <tr>
                                                <th class="index">מחזור מכירות</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                            </tr>
                                            <tr>
                                                <th class="index">רווח גולמי</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                            </tr>
                                            <tr>
                                                <th class="index">רווח תפעולי</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                            </tr>
                                            <tr>
                                                <th class="index">רווח נקי לפני מס</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                            </tr>
                                            <tr>
                                                <th class="index">מס הכנסה/מס הכנסה מוערך</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                            </tr>
                                            <tr>
                                                <th class="index">פחת</th>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                                <td><input type="text" class="form-control border-0"></td>
                                            </tr>
                                        </table>
                                        <table class="table table-bordered table-custom table-custom-footer w-auto">
                                            <tr>
                                                <th>ממוצע הוצ’ שכר ונלוות לחודש - שנה נוכחית</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th>מס’ עובדים בחודש האחרון - שנה נוכחית</th>
                                                <th></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-xl-12"> 
                                    <div class="d-flex justify-content-center">
                                        <a href="#!" class="btn btn-secondary mr-4">שלח</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
 
        </section>
         
        <!-- script -->
		<script src="assets/js/jquery-3.1.0.js" ></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="assets/js/bootstrap-datepicker.min.js"></script>
		<script src="assets/js/bootstrap-select.min.js"></script>
		<script src="assets/js/bootstrap-tagsinput.min.js"></script>
		<script src="assets/js/sweetalert2.js"></script>
		<script src="assets/js/toastr.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="assets/js/custom.js"></script>

        <script>
            var i = 1;
            $(".btn-add").on("click", function(){
                var value_1 = $("#value_1");
                var value_2 = $("#value_2");
                if((value_1.val() != "") && (value_2.val() != "")){
                    var htmlDiv = '\
                        <div class="form-inline align-items-center justify-content-end mb-3" id="formBoxId_'+ i +'">\
                            <div class="form-group d-block mr-3">\
                                <input type="text" class="form-control w-100" value="'+ value_1.val() +'" required> \
                            </div>\
                            <div class="form-group d-block">\
                                <input type="text" class="form-control w-100" value="'+ value_2.val() +'" required>\
                            </div>\
                            <div class="btn-remove ml-3" onclick="remove_form_box('+ i +')">\
                                <i class="fas fa-minus"></i>\
                            </div>\
                        </div>';
                    $(".addition-form-box").append(htmlDiv);
                    $("#value_1, #value_2").val("");
                    $("#value_1, #value_2").removeClass("is-invalid");
                    i++;
                } else {
                    $("#value_1, #value_2").addClass("is-invalid");
                }
            });

            function remove_form_box(i){
                $("#formBoxId_" + i).remove();
            }

            let td_width_1 = $(".table-custom-body tr th.index").width();
            let td_width_2 = $(".table-custom-body tr td:nth-child(2)").width();
            let td_width_3 = $(".table-custom-body tr td:nth-child(3)").width();
            let td_width_4 = $(".table-custom-body tr td:nth-child(4)").width();
            
            let dir = $("html").data("dir");
            if( dir == "rtl"){
                $(".table-custom-head").css("padding-right", "calc("+ td_width_1 +"px + 2rem + 2px)");
            } else {
                $(".table-custom-head").css("padding-left", "calc("+ td_width_1 +"px + 2rem)");
            }

            $(".table-custom-head tr th:nth-child(1)").css("width", ""+ td_width_2 +"px");
            $(".table-custom-head tr th:nth-child(2)").css("width", ""+ td_width_3 +"px");
            $(".table-custom-head tr th:nth-child(3)").css("width", ""+ td_width_4 +"px");

            $(".table-custom-footer tr th:nth-child(1)").css("width", "calc("+ td_width_1 +"px + 2rem + 1px)");
            $(".table-custom-footer tr th:nth-child(2)").css("width", "calc("+ td_width_2 +"px + 3px)");
 
        </script>
	</body>
</html>